.projectCard {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.623);
    background-blend-mode: color;
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: flex-end;
    align-items: center;

    & .projectName {
        color: lightcyan;

    }
}