.projectCard {

    display: flex;
    flex-direction: column;
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.9rem;
    position: relative;

    & .projectName {
        color: black;
        margin: 0;

    }
}

.glass_cover {
    /* credits to https://css.glass/  */
    background: rgba(113, 255, 238, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(113, 255, 238, 0.3);
    /* credits to https://css.glass/  */
    z-index: 1;
    height: 100%;
    width: 100%;
    position: absolute;
}

.stack {

    & ul {
        padding: 0;
        margin: 0;
        display: flex;
        gap: 0.2rem;
    }

    & li {
        list-style: none;
        padding: 0;
    }

}

.project_name_and_stack {
    display: flex;
    gap: 0.6rem;
    justify-content: space-between;
    border-top: 1px solid black;
    width: 100%;
}


@media (max-width:1347px) {
    .project_name_and_stack {
        flex-direction: column;
    }
}