:root {
    --page-content-height: calc(100vh - 240px);
}

.projectsGallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    justify-content: center;
    align-content: center;
    width: 100%;

}



@media(max-width:1151px) {
    .projectsGallery {
        gap: 0.5rem
    }
}

@media(max-width:1000px) {
    .projectsGallery {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width:600px) {
    .projectsGallery {
        grid-template-columns: 1fr;
    }
}