header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    border-bottom: 1px solid black;
    height: 120px;
}





@media (max-width:1434px) {
    header {
        height: auto;
    }
}

@media (max-width:1151px) {
    header {


        & h2 {
            margin: 0;
        }

        & p {
            margin: 0;
        }
    }
}

@media (max-width:400px) {
    header {


        & h2 {
            font-size: 0.8rem;
            font-weight: bolder;
        }

        & p {
            font-size: 0.6rem;
        }

    }
}