header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    border-bottom: 1px solid black;
    height: 120px;
}


@media(max-width:339px) {
    header {
        width: 80%;
        justify-content: center;

        & h2 {
            margin: 0;
        }

        & p {
            margin: 0;
        }
    }
}