* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: lightcyan
}


*:focus {
    outline: 1px solid #3498db;
    outline-offset: 2px;
}


body {
    max-width: 1440px;
    min-width: 320px;
    display: flex;
    margin-inline: 300px;
    background-color: #1a1a2e;
    background-image:
        radial-gradient(circle at 25% 25%, rgba(255, 255, 255, 0.02) 0%, transparent 50%),
        radial-gradient(circle at 75% 75%, rgba(255, 255, 255, 0.02) 0%, transparent 50%);

}

#root {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
    display: inline-block
}

@media (max-width:1000px) {
    body {
        margin-inline: 150px;
    }
}


@media (max-width:639px) {
    body {
        margin-inline: 100px;
    }
}

@media (max-width:545px) {
    body {
        margin-inline: 50px;
    }
}

@media (max-width:445px) {
    body {
        margin-inline: 25px;
    }
}

@media (max-width:384px) {
    body {
        margin-inline: 12.5px;
    }
}

@media (max-width:360px) {
    body {
        margin-inline: 6.25px;
    }
}

@media (max-width:346px) {
    #root {
        width: 90%;
    }

    body {
        margin-inline: auto;
        max-width: auto;
        min-width: auto;
    }
}